@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap');
/* font-family: 'Dosis', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
:root{
    --verde: #7fc14d;
}

                                    /*HEADER*/
.header{
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 70px;
    background: #f5f5f5;
    box-shadow: 0 0 20px rgba(61, 61, 61, 0.247);
    
}
.container-header{
    display: flex;
    align-items: center;
 
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;


}
.container-header img{
  width: 100px;
}
.menu a{
    
    text-decoration: none;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 10px;
    
}
.menu a:hover{
    background-color: var(--verde);
    border-radius: 10px;
    padding: 10px;

}
@media screen and (max-width: 550px){
    .menu{
        padding-left: 40px;
      

    }
    .menu a{
      
        font-size: 15px;
    }
}
    


                /**********************************************/

                /*SECCION SALTANDO BARRERAS IMG*/



.container-seccion{
    
    width: 100%;
    background-image: url("../Multimedia/Posibleportada.jpg");
    height: max-content;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.texto-saltando{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, rgba(5, 24, 3, 0.795), rgba(19, 19, 19, 0.63));
    background-attachment: fixed;
    text-align:center;
    background-position: bottom;
    
}
.texto-saltando h2{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 80px;
}
.texto-saltando p{
    padding-top: 20px;
    width: 80%;
    font-size: 20PX;
    font-family: 'Quicksand', sans-serif;
}
 .mision {
    
   position: absolute;
   margin-top: 550px;
    width: 40%;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #7fc14d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

@media screen and (max-width: 550px){
  
 
    .texto-saltando h2{
        font-size: 60px;
    }
    .texto-saltando p{
        font-size: 15px;
        
    }
}


               /**********************************************/
               /*ACTIVIDADES*/

#actividades{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    background-color: rgb(20, 20, 20);
    color: white;
   padding-bottom: 20px;
  
}

#actividades .h1{
    color: #ec7742;
    text-align: center;
    
}

.container-actividades{
    display: flex;
    justify-content: center;
    width: 52%;

    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.actividades-texto{
    margin-top: 20px;
    width: 52%;
    
    margin: 0 auto;
    text-align: center;
   
}

@media screen and (max-width: 950px){
    .container-actividades{
        width: 90%;
    }
    .actividades-texto{
        width: 80%;
        
    }
}
@media screen and (max-width: 700px){
    .container-actividades{
        width: 90%;
    }
    .actividades-texto{
        width: 80%;
        
        font-size: 12px;
    }
}


/**************************/
/* PROYECTOS FRUTOS SECOS*/

#proyectos{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    background-color: #81c04e;
    color: white;
    padding-bottom: 60px;
   
}
#proyectos .h1{
    font-weight: 800;
    color:  rgb(7, 37, 5);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.tamano{
    object-fit: cover;
    width:500px;
    height: 400px;

}
.tamano2{
    object-fit: cover;
    object-position: 0 -250px;
    width:500px;
    height: 400px;
}
.container-proyectos{
    display: flex;  
   
    text-align: center;
    align-items: center;
    margin: 0 auto;
    
   
    width: 90%;

}

.carrusel2{
   margin-right: 10px;
   padding: 10px;
   background-color: rgb(7, 37, 5);
   border-radius: 10px;
   
}

.text-frutos {
    display: flex;

   height: fit-content;
    border-radius: 5px;
    margin-left: 50px;
    
}
.ofrecer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 37, 5);
    padding: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.comohacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 37, 5);
    padding: 30px;
    border-radius: 5px;
    margin-left: 10px;
    
}
.container-proyectos h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
   ;
}
.text-frutos p{
    text-align: justify;
    
}
@media screen and (max-width: 1500px){
    .text-frutos{
    flex-direction: column;

    }
    .ofrecer{
        margin: 0;
    }
    .comohacemos{
    margin: 0;
    margin-top: 20px;
    }
    
}
@media screen and (max-width: 1200px){
    .container-proyectos{
        flex-direction: column;
    }
    .ofrecer{
        margin: 0;
        margin-top: 20px;
    }
    .text-frutos{
        margin: 0;
    }
    .carrusel2{
        margin: 0;
    }
}
@media screen and (max-width: 580px){
    .tamano{
        object-fit: cover;
        width:300px;
        height: 200px;
    
    }
    .tamano2{
        object-fit: cover;
        object-position: 0 -200px;
        width:300px;
        height: 200px;
    }
    .container-proyectos h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 20px;
       ;
    }
    .text-frutos p{
        text-align: justify;
        font-size: 10px;
        
    }
   #proyectos h1{
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 350px){


    .tamano{
        object-fit: cover;
        width:100%;
        
    }
    .tamano2{
        object-fit: cover;
        object-position: 0 -200px;
        width:100%;
       
    }
}





/**************************/
/* CONTACTO SECTION*/
#contacto{
    font-weight: 700;
    background: #ec7742;
    
}
.formulario{
    
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
}
.formulario .entrada{
    width: 500px;


}
#contacto h1{
    font-weight: 800;
    text-align: center;
}

.formulario .btn:hover{
    background-color: var(--verde);
    color: rgb(255, 255, 255);
    
    
}
@media screen and (max-width: 580px){
    .formulario .entrada{
        width: 90%;
    }
}
    



footer{
    padding: 100px;
}





/**** REDES SOCIALES*/
.redessociales{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.178);
    position: fixed;
    display: flex;
    
    align-items: center;

    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: white;
    border-top-left-radius: 10px;
    padding: 5px;

}
.ig{
    width: 31px;
    margin: 5px;
    margin-right: 5px;
}
.youtube{
    width: 42px;
    margin: 5px;
    
}




